<!DOCTYPE html>
{%extends 'SchoolApp/Base.html' %}

{%block body_block%}
{%load static%}
<style>
    body{
    background-image:url('{%static 'Images/Doon.jpg'%}') }
</style>



<div>
    <table  style="float:right; margin-right:100px">

        <tr>
            <td style="color:red; font-size:100px; padding:0px" >
                <a href="/Admission" class="btn btn-success btn-lg">Admission</a>
            </td>
        </tr>
        <tr>
            <td bgcolor="555B5C" style="padding:0px" align="center"><H1 style="color:red">News and Events</H1></td>
        </tr>
        <tr>
            <td style="height:200px;color:red" bgcolor="08DEE3" align="center">
               <marquee width="400%" direction="up" height="100%" scrollamount=4 onmouseover="this.stop()"
                        onmouseout="this.start()">
                   <a href="default.asp" target="_blank" style="color:red;font-size:35px;text-decoration:None">Results</a><br>
                   <a href="default.asp" target="_blank" style="color:red;font-size:35px;text-decoration:None">Admission Notifications</a><br>  
                   <a href="/Exam" target="_blank" style="color:red;font-size:35px;text-decoration:None">Weekly Exam</a>
</marquee>
            </td>
        </tr>
    </table>
</div>

<div class="carousel-inner" role="listbox">
    {% for i in images%}
              <img src="{{i.Image.url}}" alt="Chania">

                  <h1>{{image.caption}}</h1>


    {%endfor%}
</div>

{%endblock%}