<!DOCTYPE html>
{%extends 'SchoolApp/Base.html'%}
{%load static%}
{%block body_block%}
{%load custom_filters%}

<table border="1px solid black" style="width:70%" align="center">
    <thead>
    <tr style="background-color:#709922">
        <th style="text-align:center">Name</th>
        <th style="text-align:center">Image</th>
        <th style="text-align:center">Video</th>

    </tr>
    </thead>
    <tbody>
    {% for d in data %}
    <tr style="">
        <td style="color:#225299; width:100px;text-align:center">{{d.Name|name_filter}}</td>
        <td style="width:20px; "><a href="{{d.document.url}}" target="_blank" class="btn btn-primary btn-sm">Study Material</a></td>

        <td>
            {%if d.video_file%}
        <video width="900px" height="500px" controls style="align:center;background-color:Black">
            <source src="{{d.video_file.url}}" type="video/mp4">
        </video>
        {%endif%}
        </td>
    </tr>
    </tbody>
    {%endfor%}
</table>


{%endblock%}
